.text {
  display: none;
  justify-content: center;
}
.buttonDiv {
  display: flex;
  justify-content: center;
}
.buttonDiv button {
  background-color: deeppink;
  color: #fff;
  cursor: pointer;
  width: 100px;
  height: 50px;
}
.buttonDiv button:hover {
  color: black;
}
